
body{
    /* background-color: burlywood; */
    font-family: sans-serif;
    background-image: url(./coffee\ beans.jpeg);
    background-size: 50%;
    padding: 20px;
}
h1, h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}
h2{
    font-size: 30px;
}
h1, p, h2{
    text-align: center;
}
.established{
    font-style: italic;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}
.menu{
    width: 80%;
    max-width: 500px;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.flavor, .dessert{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}
.item p{
    display: inline-block;
    margin: 5px 0px;
    font-size: 18px;
}
hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}
.bottom-line{
    margin-top: 25px;
}
footer{
    font-size: 14px;
}
a{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color:brown
}
a:active{
    color: brown;
}